.circle {
  width: 100px;
  height: 100px;
  font-size: 40px;
  line-height: 100px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}
html,body {
  overflow: hidden;
  max-height: 100%;
}
h1 {
  margin-bottom: -0.6em
}
#no {
  opacity: 0%;
}
